<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="/about" class="nav-link active btn btn-success mx-1" aria-current="page">Home</a>
        <a routerLink="/list" class="nav-link active btn btn-secondary mx-1" >Liste</a>
        <a routerLink="/contacts" class="nav-link active btn btn-secondary mx-1">Chercher</a>
        <a routerLink="/newContact" class="nav-link active btn btn-secondary mx-1">Nouveau contact</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet>

</router-outlet>
