<div class="container mt-3">
  <table class="table table-success table-striped mt-3">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">Email</th>
      <th scope="col">Téléphone</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let c of pageContacts">
      <th scope="row">{{ c.id }}</th>
      <td>{{ c.nom }}</td>
      <td>{{ c.prenom }}</td>
      <td>{{ c.dateNaissance }}</td>
      <td>{{ c.email }}</td>
      <td>{{ c.tel }}</td>
    </tr>
    </tbody>
  </table>
</div>
